**/*.class
**/*.log
**/*.out.txt
# **/*.dat
**/dist
**/*.zip

# Only ignore JAR files from Common directory
# These JAR files will be generate at runtime
Common/*.jar

**/.DS_Store

# Maven
**/target
**/.project
**/.settings
**/.classpath
**/.factorypath
**/*.iml
**/.idea